body {
  color: #ffffff;
  margin: 0;
  background-image: url("../assets/crew/background-crew-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.crew-title {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-align: center;
  margin: 0;
}

.crew-title > span {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2.7px;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-right: 10px;
}

.img-crew-div[aria-role="commander"] {
  padding: 32px 99px 33px 99px;
}

.img-crew-div[aria-role="specialist"] {
  padding: 32px 111px 33px 111px;
}

.img-crew-div[aria-role="pilot"] {
  padding: 32px 98px 33px 98px;
}

.img-crew-div[aria-role="engineer"] {
  padding: 32px 75px 33px 75px;
}

.crew-destination {
  width: 100%;
}

.dot-container {
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.17;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
}

.dot[aria-active="true"] {
  background-color: #ffffff;
  opacity: 1;
}

.crew-information {
  text-align: center;
}

.role {
  text-transform: uppercase;
  margin: 32px 0 8px 0;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.name {
  text-transform: uppercase;
  margin: 0;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.description {
  margin: 16px 24px 104px 24px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #d0d6f9;
}

@media (min-width: 35em) {
  body {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  .crew-title {
    text-align: start;
    margin: 40px 0 0 39px;
  }

  .information-div {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-crew {
    display: flex;
    flex-direction: column-reverse;
  }

  .img-crew-div[aria-role="commander"] {
    padding: 40px 156px 0px 156px;
  }

  .img-crew-div[aria-role="specialist"] {
    padding: 40px 200px 0px 200px;
  }

  .img-crew-div[aria-role="pilot"] {
    padding: 40px 178px 0px 156px;
  }

  .img-crew-div[aria-role="engineer"] {
    padding: 40px 95px 0px 134px;
  }

  .description {
    margin: 16px 0 0 0;
  }
  .crew-information {
    margin: 60px 155px 40px 155px;
  }
  .role {
    font-size: 27px;
  }
  .name {
    font-size: 40px;
    padding-top: 15px;
  }
  .description {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
  .crew-title {
    text-align: start;
    font-size: 28px;

    margin: 70px 0 0 166px;
  }
  .container-crew {
    flex-direction: row-reverse;
  }
  .crew-information {
    margin: 0;
  }
  .role {
    text-align: start;
    margin: 154px 0 15px 165px;
  }
  .name {
    text-align: start;
    margin: 0px 81px 15px 165px;
  }
  .description {
    text-align: start;
    margin: 27px 125px 120px 165px;
    line-height: 32px;
  }

  .dot-container {
    text-align: start;
    margin-left: 167px;
    margin-bottom: 94px;
  }
  .img-crew-div[aria-role="commander"] > img {
    width: 568.07px;
    height: 712px;
  }
  .img-crew-div[aria-role="commander"] {
    padding: 0px 137px 0px 0px;
  }

  .img-crew-div[aria-role="specialist"] > img {
    width: 453.44px;
    height: 654px;
  }
  .img-crew-div[aria-role="specialist"] {
    padding: 0px 186px 0px 0px;
  }

  .img-crew-div[aria-role="pilot"] > img {
    width: 554.39px;
    height: 681px;
  }
  .img-crew-div[aria-role="pilot"] {
    padding: 0px 142px 0px 0px;
  }

  .img-crew-div[aria-role="engineer"] > img {
    width: 615.57px;
    height: 607px;
  }
  .img-crew-div[aria-role="engineer"] {
    padding: 40px 89px 0px 0px;
  }
}
