body {
  margin: 0;
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  background-position: fixed;
}

.head-destination {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-align: center;
  margin: 0;
}

.head-span {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 2.7px;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-right: 10px;
}

.img-div {
  padding: 32px 100px 26px 100px;
}

.img-destination {
  width: 100%;
}
.information {
  display: flex;
  flex-direction: column-reverse;
}

.description {
  text-align: center;
}

.destination-title {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  text-align: center;
  margin: 0;
}

.destination-paragraph {
  font-family: Barlow;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #d0d6f9;
  margin: 1px 24px 0px 24px;
}

hr {
  margin: 32px 24px;
}

.data {
  text-align: center;
}

.subheading1 {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin: 12px 0 32px 0;
}

.subheading2 {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
  margin: 0;
}

@media (min-width: 35em) {
  body {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
  .head-destination {
    margin: 40px 0 0 39px;
    text-align: start;
  }
  .img-div {
    padding: 60px 234px 53px 234px;
  }
  .destination-paragraph {
    margin: 8px 98px 50px 98px;
  }
  hr {
    margin: 0px 98px 28px 98px;
  }
  .data {
    display: flex;
    justify-content: space-around;
    padding: 0px 180px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
  }
  .head-destination {
    margin: 76px 0 64px 167px;
    text-align: start;
  }
  .destination-title {
    font-size: 100px;
    line-height: 115px;
  }
  .section-destination {
    display: grid;
    margin-bottom: 112px;
    gap: 157px;
    grid-template-columns: repeat(2, 2fr);
  }
  .img-div {
    padding: 0;
  }
  .destination-paragraph {
    text-align: start;
    margin: 0 164px 0 0;
    line-height: 32px;
    font-size: 22px;
  }
  .destination-title {
    text-align: start;
  }
  .data {
    justify-content: start;
    text-align: start;
    padding: 0;
  }
  hr {
    margin: 54px 163px 28px 0;
  }
  .data > div {
    margin-right: 80px;
  }
  .img-div {
    padding: 33px 0 0 200px;
  }
}
