.selector {
  margin-bottom: 20px;
}

.destination-list {
  padding: 0px 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.destination-item {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}

.destination-item > a {
  text-decoration: none;
  color: #ffffff;
}

.destination-item:hover {
  color: #ffffff;
  border-bottom: 3px solid rgba(255,255,255, 0.5) ;
  mix-blend-mode: normal;
}

.destination-item[active="moon"] {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.destination-item[active="mars"] {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.destination-item[active="titan"] {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.destination-item[active="europa"] {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

@media (min-width: 35em) {
  .destination-list {
    padding: 0px 241px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .destination-list {
    justify-content: start;
    padding: 0;
    margin-bottom: 32px;
  }
  .destination-item {
    margin-right: 35px;
  }
}