body {
  margin: 0;
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  overflow-x: hidden;
  background-position: fixed;
}

.home-conteiner {
  padding: 0 24px;
}

.home-head {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  margin-top: 0;
}

.home-title {
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  text-align: center;
  line-height: 100px;
  margin: 0;
}

.home-paragraph {
  font-family: Barlow Condensed;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: #d0d6f9;
}

.button-div {
  margin: 100px 0 0 0;
  text-align: center;
}

.home-button {
  text-decoration: none;
  color: #0b0d17;
  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.25px;
  background-color: #ffffff;
  padding: 60px 27px;
  border-radius: 100%;
}

@keyframes buttonShadow {
  from {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255, 0.1);
  }
  to {
    box-shadow: 0px 0px 0px 25px rgb(255, 255, 255, 0.2);
  }
}

.home-button:hover {
  animation: buttonShadow 0.3s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 760px) {
  body {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
  .home-head {
    margin-top: 106px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }
  .home-title {
    font-size: 150px;
    line-height: 150px;
  }
  .home-paragraph {
    letter-spacing: 2.7px;
    line-height: 30px;
    font-size: 20px;
    padding: 24px 122px;
  }
  .home-button {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    padding: 100px 46px;
    border-radius: 100%;
  }
  .button-div {
    margin: 150px 0 0 0;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
  .home-head {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-align: start;
  }
  .home-title {
    text-align: start;
    font-size: 150px;
    line-height: 172px;
  }
  .home-paragraph {
    text-align: start;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
  }
  .home-conteiner {
    display: grid;
    padding: 0;
    justify-content:center;
    align-items:end;
    margin-bottom: 130px;
    grid-template-columns: repeat(2, 700px);
  }
  .button-div {
    margin-bottom: 130px;
  }
  .hero {
    padding-left: 165px;
  }
}
